<h1>Ask Intuit about small business topics or Intuit products?</h1>

<% form_tag '/ask' do -%>                 
  <%= text_area_tag 'ask[body]', @ask.body %><br />  
  <p>
    <%= submit_tag 'Ask' %>
  </p>
<% end %>                                                        



