
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('li').click(function(){
      $('#preview-pane').load('/facebook/show/' + $(this).attr('id'));
      $('#loader').ajaxStart(function(){
         $(this).show();
      });
      $('#loader').ajaxStop(function(){
         $(this).hide();
      });

    });
  });
  
</script>

<img src="<%= "#{FB[:graph_url]}#{@profile["id"]}/picture" %>" border="0" align="top">
<h1>Hello <%= @profile["name"] %></h1>                         

<div id="main-container">
   <div id="friend-container" class="wrp">
     <ul id="friend-list">
      <% @friends.each do |friend| %>
        <li id="<%= friend["id"] %>"><%= friend["name"] %></li>
      <% end %>
     </ul>
   </div> 
   <div id="preview-pane">
     
   </div> 
   <div class="clr"> </div>
</div>


